/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
  max-width: 1352px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #08a6e4;
  font-family: "Raleway", sansserif;
  font-size: 26px;
  font-weight: 300;
  text-decoration: none;
  line-height: 37px;
  margin-left: 25px;
}

.header__nav {
  display: flex;
}

.header__nav .nav__li {
  padding: 0 32px;
}

.header__nav .nav__a {
  font-family: "Open Sans", sansserif;
  font-size: 11px;
  text-decoration: none;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 3.28px;
  color: #a5a5a5;
  text-transform: uppercase;
  padding: 28px 18px 23px;
}

.header__nav .nav__a:hover {
  color: #000000;
  border-bottom: 4px solid #08a6e4;
}

.header__burger {
  display: none;
}

@media (max-width: 792px) {
  .header__burger {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  .header__burger .burger__span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #08a6e4;
    margin-bottom: 5px;
    transition: 0.3s all ease-in-out;
  }
  .header__burger .burger__span .burger__span:last-of-type {
    margin-bottom: 0;
  }

  .header__burger--click .burger__span:nth-child(1) {
    transform: translate(0, 7px) rotate(45deg);
  }
  .header__burger--click .burger__span:nth-child(2) {
    opacity: 0;
  }
  .header__burger--click .burger__span:nth-child(3) {
    transform: translate(0, -7px) rotate(-45deg);
  }

  .header__nav {
    width: 100vw;
    position: absolute;
    top: 100px;
    left: -100vw;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    padding-left: 25px;
    height: 150px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  }

  .header__nav--show {
    left: 0;
  }

  .header__nav .nav__li {
    padding-bottom: 15px;
  }

  .header__nav .nav__a {
    padding: 0;
  }
  .header__nav .nav__a:hover {
    border-bottom: none;
  }
}
.openning {
  width: 100vw;
  max-height: 712px;
  margin-top: 130px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openning__img {
  width: 100vw;
  height: auto;
}

.openning__h1 {
  font-family: "Raleway", sansserif;
  color: #000000;
  font-size: 49px;
}

.openning__p {
  font-family: "Open Sans", sansserif;
  color: #000000;
  font-size: 16px;
  padding: 20px 0 38px;
  text-align: center;
}

.openning__a {
  font-family: "Open Sans", sansserif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  background-color: #08a6e4;
  height: 67px;
  width: 440px;
  border-radius: 40px;
  text-align: center;
  line-height: 67px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
}

@media (max-width: 792px) {
  .openning__a {
    width: 90vw;
  }

  .openning__img {
    width: 200vw;
    overflow: hidden;
  }
}
.stats {
  margin: 100px;
}

.stats__h2 {
  font-family: "Raleway", sansserif;
  color: #000000;
  font-size: 36px;
  text-align: center;
}

.stats__container {
  max-width: 792px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats__element {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.stats__number {
  font-family: "Raleway", sansserif;
  color: #000000;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  padding: 80px 0 20px;
  letter-spacing: 6px;
}

.stats__text {
  font-family: "Raleway", sansserif;
  color: #a5a5a5;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 120px;
}

.stats__img {
  position: absolute;
  left: 40%;
}

.stats__circle {
  position: absolute;
  left: 20%;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50%;
}

.stats__element:nth-child(1) .stats__circle {
  background-color: #fb3b64;
}

.stats__element:nth-child(2) .stats__circle {
  background-color: #08a6e4;
}

.stats__element:nth-child(3) .stats__circle {
  background-color: #55dfb4;
}

.stats__element:nth-child(1) .stats__img {
  top: 0;
}

.stats__element:nth-child(2) .stats__img {
  top: 15px;
}

.stats__element:nth-child(3) .stats__img {
  top: 5px;
}

@media (max-width: 792px) {
  .stats {
    min-height: 600px;
    margin: 40px;
  }
  .stats .stats__h2 {
    margin: 0 auto;
    padding: 0 20px;
  }
  .stats .stats__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .stats .stats__container .stats__element {
    margin-top: 25px;
  }
}
.benefits {
  background-color: #f7f7f7;
  width: 100vw;
  height: 1395px;
  padding: 70px 0;
}

.benefits__container {
  height: 370px;
  max-width: 1124px;
  margin: 35px auto;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}

.benefits__container__last {
  margin: 35px auto;
  width: 1124px;
  display: flex;
  justify-content: flex-start;
}

.benefits__container__last--inside {
  height: 370px;
  width: 624px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}

.benefits__container:nth-child(1) .benefits__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 36px;
}

.benefits__container:nth-child(2) .benefits__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 688px;
}

.benefits__container__last .benefits__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 36px;
}

.benefits__h2 {
  font-family: "Raleway", sansserif;
  color: #000000;
  font-size: 36px;
}

.benefits__p {
  width: 420px;
  font-family: "Open Sans", sansserif;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  padding: 30px 0 50px;
}

.benefits__container__last .benefits__p {
  width: 555px;
  font-family: "Open Sans", sansserif;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  padding: 30px 0 50px;
}

.benefits__container:nth-child(1) .benefits__line {
  background-color: #fb3b64;
  height: 4px;
  width: 327px;
}

.benefits__container:nth-child(2) .benefits__line {
  background-color: #08a6e4;
  height: 4px;
  width: 327px;
}

.benefits__container__last .benefits__line {
  background-color: #55dfb4;
  height: 4px;
  width: 327px;
}

.benefits__picture {
  position: relative;
  width: 50%;
}

.benefits__container:nth-child(1) .benefits__shape {
  width: 180px;
  height: 180px;
  background-color: #fb3b64;
  border-radius: 41px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  left: 260px;
  top: 60px;
}

.benefits__container:nth-child(2) .benefits__shape {
  width: 320px;
  height: 320px;
  background-color: #08a6e4;
  border-radius: 50%;
  position: absolute;
  left: 70px;
  top: 12px;
}

.benefits__container__last .benefits__shape {
  width: 440px;
  height: 370px;
  background-color: #55dfb4;
  position: absolute;
  margin-left: 60px;
}

.benefits__container:nth-child(1) .benefits__img {
  height: 220px;
  position: absolute;
  top: 113px;
  left: 60px;
}

.benefits__container:nth-child(2) .benefits__img {
  height: 330px;
  position: absolute;
  top: 30px;
  left: 70px;
}

.benefits__container__last .benefits__img {
  height: 210px;
  position: absolute;
  top: 100px;
  left: 120px;
}

@media (max-width: 1000px) {
  .benefits {
    margin: 0 15px;
  }

  .benefits__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefits__picture {
    position: relative;
    height: 150px;
    order: -1;
  }

  .benefits__container:nth-child(1) .benefits__img {
    height: 110px;
    position: absolute;
    top: 40px;
    left: calc(50% - 100px);
  }
  .benefits__container:nth-child(1) .benefits__shape {
    width: 90px;
    height: 90px;
    border-radius: 41px;
    position: absolute;
    top: 10px;
    left: calc(50% + 10px);
  }
  .benefits__container:nth-child(1) .benefits__container__text {
    align-self: flex-start;
    padding: 0;
    margin-top: 30px;
    width: 100%;
  }
  .benefits__container:nth-child(1) .benefits__container__text .benefits__h2 {
    align-self: flex-start;
    padding-left: 20px;
  }
  .benefits__container:nth-child(1) .benefits__container__text .benefits__p {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .benefits__container:nth-child(2) .benefits__img {
    height: 135px;
    position: absolute;
    top: 20px;
    left: calc(50% - 70px);
  }
  .benefits__container:nth-child(2) .benefits__shape {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: calc(50% - 65px);
  }
  .benefits__container:nth-child(2) .benefits__container__text {
    align-self: flex-start;
    padding: 0;
    margin-top: 30px;
    width: 100%;
  }
  .benefits__container:nth-child(2) .benefits__container__text .benefits__h2 {
    align-self: flex-start;
    padding-left: 20px;
  }
  .benefits__container:nth-child(2) .benefits__container__text .benefits__p {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .benefits__container__last {
    flex-direction: column;
    width: 100%;
  }
  .benefits__container__last .benefits__container__last--inside {
    order: -1;
    width: 100%;
    height: 100%;
  }
  .benefits__container__last .benefits__container__last--inside .benefits__container__text {
    margin-top: 30px;
  }
  .benefits__container__last .benefits__picture {
    width: 100%;
  }
  .benefits__container__last .benefits__picture .benefits__img {
    height: 200px;
    top: 20px;
    left: calc(50% - 150px);
  }
  .benefits__container__last .benefits__picture .benefits__shape {
    width: 100%;
    margin: 0;
    height: 195px;
  }

  .benefits__line {
    display: none;
  }
}
.pricelist {
  height: 700px;
  width: 100vw;
}

.pricelist__h2 {
  text-align: center;
  font-family: "Raleway", sansserif;
  color: #000000;
  font-size: 36px;
  padding: 100px 0 50px;
}

.pricelist__container {
  display: flex;
  width: 1264px;
  height: 500px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.pricelist__offertbox:nth-child(1) {
  display: flex;
  height: 461px;
  width: 372px;
  border: 1px solid #fb3b64;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pricelist__offertbox:nth-child(2) {
  display: flex;
  height: 500px;
  width: 405px;
  border: 1px solid #07ACE6;
  border-radius: 18px;
  box-shadow: 5px 10px 27px #07ACE629;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 58px;
  position: relative;
}

.pricelist__offertbox:nth-child(3) {
  display: flex;
  height: 461px;
  width: 372px;
  border: 1px solid #55dfb4;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pricelist__h3 {
  font-family: "Raleway", sansserif;
  font-weight: 700;
  color: #000000;
  font-size: 21px;
  padding: 34px 0 14px;
}

.pricelist__offertbox:nth-child(1) .pricelist__price {
  font-family: "Open Sans", sansserif;
  font-weight: 300;
  color: #fb3b64;
  font-size: 46px;
  line-height: 64px;
}

.pricelist__offertbox:nth-child(2) .pricelist__price {
  font-family: "Open Sans", sansserif;
  font-weight: 300;
  color: #07ACE6;
  font-size: 46px;
  line-height: 64px;
}

.pricelist__offertbox:nth-child(3) .pricelist__price {
  font-family: "Open Sans", sansserif;
  font-weight: 300;
  color: #55dfb4;
  font-size: 46px;
  line-height: 64px;
}

.pricelist__limited {
  font-family: "Raleway", sansserif;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  padding: 5px 0 50px;
}

.pricelist__offertbox:nth-child(2) .pricelist__limited {
  padding: 5px 0 61px;
  line-height: 14px;
}

.pricelist__list {
  padding-bottom: 60px;
}

.pricelist__list li {
  font-family: "Open Sans", sansserif;
  color: #000000;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
  text-align: center;
}

.pricelist__offertbox:nth-child(2) .pricelist__list li {
  margin-bottom: 26px;
}

.pricelist__checked::before {
  content: "";
  background-image: url("../assets/Ckechmark-1.svg");
  height: 11px;
  width: 11px;
  display: inline-block;
  margin-right: 10px;
}

.pricelist__checked--not::before {
  content: "";
  background-image: url("../assets/Close.svg");
  height: 11px;
  width: 11px;
  display: inline-block;
  margin-right: 10px;
}

.pricelist__btn {
  height: 50px;
  border-radius: 25px;
  font-family: "Open Sans", sansserif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  position: absolute;
}

.pricelist__offertbox:nth-child(1) .pricelist__btn {
  background-color: #fb3b64;
  width: 150px;
  bottom: -25px;
}

.pricelist__offertbox:nth-child(2) .pricelist__btn {
  background-color: #07ACE6;
  width: 165px;
  bottom: -25px;
}

.pricelist__offertbox:nth-child(3) .pricelist__btn {
  background-color: #55dfb4;
  width: 150px;
  bottom: -25px;
}

@media (max-width: 1350px) {
  .pricelist {
    height: auto;
  }
  .pricelist .pricelist__container {
    height: auto;
  }

  .pricelist__container {
    flex-direction: column;
    width: 100%;
  }
  .pricelist__container .pricelist__offertbox {
    flex-direction: row;
    justify-content: space-between;
  }
  .pricelist__container .pricelist__box--left {
    margin: 0 50px;
  }
  .pricelist__container .pricelist__list {
    margin-top: 25px;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }

  .pricelist__offertbox:nth-child(1),
.pricelist__offertbox:nth-child(3) {
    height: 250px;
  }

  .pricelist__offertbox:nth-child(2) {
    height: 275px;
    margin-top: 55px;
    margin-bottom: 55px;
  }
}
.questionform {
  width: 100vw;
  margin: 0 auto;
}

.questionform__container {
  width: 900px;
  margin: 150px auto 60px;
  height: 375px;
  display: flex;
}

.questionform__contact {
  width: 50%;
}

.questionform__contact__h1 {
  font-family: "Raleway", sansserif;
  color: #000000;
  font-size: 49px;
  line-height: 57px;
}

.questionform__contact__p {
  font-family: "Open Sans", sansserif;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0 22px;
}

.questionform__contact__emailphone {
  font-family: "Open Sans", sansserif;
  color: #a5a5a5;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  margin-right: 20px;
}

.questionform__contact__emailphone__img {
  height: 27px;
  width: 27px;
  margin-right: 10px;
  display: inline-block;
}

.questionform__formcontainer {
  width: 50%;
}

.questionform__formcontainer form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.questionform__formcontainer label {
  font-family: "Open Sans", sansserif;
  color: #08a6e4;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  display: flex;
}

.questionform__formcontainer label:nth-of-type(2) {
  margin-top: 42px;
}

.questionform__formcontainer input {
  outline: none;
  border: none;
  border-bottom: 1px solid #95989A;
  line-height: 42px;
}

.questionform__formcontainer__checkboxbox {
  margin-top: 30px;
}

.questionform__formcontainer__checkboxbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.questionform__formcontainer__checkboxbox span {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  border: 1px solid #95989A;
  border-radius: 4px;
}

.questionform__formcontainer__checkboxbox input:checked ~ span {
  background-image: url("../assets/Checkmark.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.questionform__formcontainer__checkboxbox p {
  font-family: "Open Sans", sansserif;
  font-size: 12px;
  line-height: 17px;
  color: #707070;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  letter-spacing: 0;
}

.questionform__formcontainer button {
  margin-top: 20px;
  height: 57px;
  width: 226px;
  border: none;
  border-radius: 28px;
  background-color: #08a6e4;
  box-shadow: 5px 10px 14px #07ACE629;
  color: #ffffff;
  font-family: "Open Sans", sansserif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.footer {
  width: 100vw;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.16);
}

.footer__container {
  width: 1352px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__container p {
  font-family: "Open Sans", sansserif;
  color: #a5a5a5;
  font-size: 11px;
  line-height: 15px;
  margin-top: 6px;
}

.footer__linkbox {
  display: flex;
  justify-content: center;
}

.footer__twitter {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */
