
.openning {
  width: 100vw;
  max-height: 712px;
  margin-top: 130px;
  //background-image: url("../assets/Background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openning__img {
  width: 100vw;
  height: auto;
}


.openning__h1 {
  font-family: $font-raleway;
  color: $color-black;
  font-size: 49px;

}

.openning__p {
  font-family: $font-open-sans;
  color: $color-black;
  font-size: 16px;
  padding: 20px 0 38px;
  text-align: center;
}

.openning__a {
  font-family: $font-open-sans;
  color: $color-white;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  background-color: $color-blue;
  height: 67px;
  width: 440px;
  border-radius: 40px;
  text-align: center;
  line-height: 67px;
  box-shadow: 5px 10px 14px $color-blue-shadow;
}

@include media {
  .openning__a {
    width: 90vw;
  }
  .openning__img {
    width: 200vw;
    overflow: hidden;
  }
}